*/
* {
  box-sizing: border-box;
}


.grid {
  /*
    If we are working with older Internet Explorer and Android browsers we should include the vendor-prefixed versions of flex. They offer the older browsers to still use their experimental versions of the property. An example of the vendor prefixed version of the code is commented out below
  */
  /*
    display: -webkit-flex;
    display: -ms-flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  */

  /*
    By setting the 'display' property to a value of 'flex', we are setting the container to use flexbox for its layout.
  */
  display: flex;

  /*
    The 'flex-wrap' property specifies if children of the flexbox must sit on one line, or if they can be wrapped into multiple lines.
  */
  /*flex-wrap: wrap;*/



}


}








@media (max-width: 76em){


body{
font-size: 12px;
}


.about-content{

font-size: 10em;


}



/*

.side-nav-a1{
  font-size: 1em;
}
.side-nav-a2{
  font-size: 1em;
}

.side-nav-a3{
  font-size: 1em;
}
.side-nav-a4{
  font-size: 1em;
}
.side-nav-a5{
  font-size: 1em;
}
*/


.product-image-wrapper img {
  width: 40vw;
  height: auto;
}
.cursor{
  display: none;
}

}





@media (max-width: 58.5em){

#interactive_elements{
  display: inline-block;
  position: absolute;
 width: 60%;
  left: 40%;
  right: 10%;
  top:15vh;

}

#text_elements{
  display: none;
  position: absolute;
 width: 60%;
  left: 40%;
  right: 10%;
  top:15vh;

 }



  #text_elements p{
 display: inline-block;
 }



#combined_elements{
  display: none;
  position: absolute;
  width: 60%;
  left: 40%;
  right: 10%;
  top:15vh;
}





#citations{
  display: none;
}
#idea2{
  display: none;
    position: absolute;
  width: 60%;
  left: 40%;
  right: 10%;
  top:15vh;
}

.cursor{
  display: none;
}
*{
  cursor: auto;
}





}




@media (max-width: 68em){

.small-card{
  width: 50px;
}
.product-image-holder img{
 
 width: 30vw;
 height: auto;
}



.details h1{
width: 100%;
font-family: 'Raleway', sans-serif;
 font-size: 2rem;
 margin:10px 0;

}
.details h2{

font-family: 'Raleway', sans-serif;
margin:10px 0;
font-size: 1rem;
}
.details .details-brand{
  font-size: 2rem;
font-family: 'Raleway', sans-serif;
margin:10px 0;
color: #a8a8a8;
}




.details p{

font-family: 'Raleway', sans-serif;
margin:10px 0;
font-size: 0.7rem;
}

.details-p{
  border-top: solid 1px #a8a8a8;
font-family: 'Raleway', sans-serif;
  padding-top: 15px;

}
.cursor{
  display: none;
}

#circle{
  display: none;
}

*{
  cursor: auto;
}


}






@media (max-width: 64em){
#side-nav a{

font-size: 1.5em;

}

.form-cart{
  display: none;
}
.form-holder{
  float: left;
  width: 100%;

}
.product-card-name{
  font-size: 0.9em;
}



.product-image-wrapper img {
  width: 19vw;
  height: auto;
}

.global-nav-list {
    position: absolute;
    /* text-align: center; */
    margin: 0 auto;
    padding: 0;
    top: 20%;
    width: 80%;
    right: 0;
    align-items: center;
   
}
.global-nav-list a {
  font-size: 2.2rem;

  font-family: 'Raleway', sans-serif;
}


.global-nav-list a::before {
  /*content: '';
  display: inline-block;
  height: 15px;
  background-color: #33473F;

  position: absolute;
  top: 50%;
  width: 0%;

  transition: all ease-in-out 250ms;*/
}

.global-nav-list a:hover::before {
  width: 0;
}

.global-nav-list li {
  margin-top: 2em;
}


.about-container{

top: 20vh;

}
.about-img img{

  display: inline-block;
  width: 50%;
  
}
.img1{
  position: relative;
  display: inline-block;
   left: 10%;
  
}
.img2{
  top: 50vh;
   left: 30%;
  
}

.img3{
 top: 100vh;
   left: 0;
  
}
.img4{
top: 150vh;
   left: 40%;
  
}
.cursor{
  display: none;
}

*{
  cursor: auto;
}



}



@media (max-width: 52em){
.product-image-wrapper img {
  width: 25vw;
  height: auto;
}
    .container1-tags-ul img{
    margin:10px  10px;
}

.cursor{
  display: none;
}

#circle{
  display: none;
}

}





@media (max-width: 45em){
.bottom-info{


background: white;
width: 100%;
height: auto;
display: none;


}
.info-container1{
width: 100%;  
    border-right: none;
}
.info-container2{
width: 100%;
    border-right: none;
}

.info-container3{
width: 100%;
     
}
    
.description-holder{
  
  display: none;
}
    
.mobile-details{
  display: inline-block;
  position: relative;
  width: 95vw;
  left: 2.5%;
  right: 2.5%;

}


.product-image-holder{
  left: 2%;
  border-left: none;
  padding: 0;
}
.pre-view-image{
  display: none;
}

.product-image-holder img{
 display: block;
 width: 100%;
 margin-right: 0px;
 height: auto;
}
.details{
  display: inline-block;

  margin-left: 0;
  width: 100%;

/*  float: left;*/
  
}

.header__menu--extra{
  display: none;
}

.container{
  display: inline-block;
}
.top_nav{
  display: none;
}
.me img{
  width: 20%;
}
.global_nav{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;


}

.global_nav::-webkit-scrollbar { display: none; !important }

.header {
    /* position: relative; */
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 12vh;
    background: #fff;
    opacity: 0.9;
}

.global-nav-list {
    position: absolute;
     text-align: center; 
     align-items: center;
    margin: 0 auto;
    padding: 0;
    top: 20%;
    width: 80%;
    right: 0;
    left: 0;
   
}
.global-nav-list a {

font-family: 'Raleway', sans-serif;
}

.form-holder{
  top: 5%;

}






#side-nav{
  display: none;
}







#interactive_elements{
  display: inline-block;
  position: relative;
  top: 10%;
 width: 90%;
  left: 5%;
  right: 5%;

}

#text_elements{
  display: inline-block;
  position: relative;
width: 90%;
  left: 5%;
  right: 5%;

 }



 


#combined_elements{
  display: inline-block;
  position: relative;
  width: 90%;
  left: 5%;
  right: 5%;
}





#citations{
  display: none;
}
#idea2{
  display: inline-block;
    position: relative;
  width: 90%;
  left: 5%;
  right: 5%;
 
}
.top_nav_ul2 li{
  font-size: 0.3rem;
}


.section--shipping-address{
  width: 100%;
}

.about-container{

top: 20vh;

}
.about-content{
   
font-size: 7em;
line-height: 1em;

}
.product-list{
width: 95%;
right: 2.5%;
left: 2.5%;

}

.fliter2{
width: 95%;
right: 2.5%;
left: 2.5%;
}

.product-image-wrapper img {
  width: 43vw;
  height: auto;
}


.card{
  padding: 0;
}
.card--content{
  min-width: 400px;

}


.about-img{
display: none;
}

.about-container{
  margin-bottom: 200px;
}




.stores1 {

width: 100%;

margin-bottom: 80px;


}
.stores2 {

width: 100%;
margin-bottom: 80px;


}

.stores3 {

width: 100%;

margin-bottom: 80px;

}

.stores h3{

margin-left: 0px;

}


.stores p{

margin-left: 0px;

  
}
.stores h4{

margin-left: 0px;
  
}
.about-content{
   
font-size: 2em;
letter-spacing: 0;
line-height: 1.25em;


}
.cursor{
  display: none;
}

*{
  cursor: auto;
}




.product-image-holder img{
 width: 300px;
 height: 300px;

}


.bag-subtotal-wrapper {
  position: relative;
  top: 100px;
  right: 34.7em;
  width: 40%;
  border: 1px solid lightgray;
  font-size: 1rem;
}





.button-check-out{
  font-size: 1pt;
  width: 100%;
  padding: 0;
}

#circle{
  display: none;
}


}





@media (max-width: 32em){

.product-image-wrapper img {
  width: 95%;
  height: auto;
}

.global-nav-list {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 10%;
    width: 80%;
    right: 0;
    left: 0;
   text-align: center;

}
.global-nav-list a {
  font-size: 1.5rem;

 font-family: 'Raleway', sans-serif;
}

.global-nav-list li {
  margin-top: 2em;
}


.cursor{
  display: none;
}



*{
  cursor: auto;
}





}

