*{
  cursor: none;

}




header{

  height: 12vh;

}

.header{

  /*position: relative;*/
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 12vh;
  background: #fff;
  opacity: 0.9;
}


.nav-container{
  position:fixed;
  width:95%;
  background: #fff;
  opacity: 0.9;
  margin:0 auto;
  top: 0;
  margin-top: 0;
  padding-top:1%;
  right: 0;
  left: 0;
  z-index: 90;

}

/* image hover (logo)*/


.me img{
  display: inline-block;
  width: 5vw;
  margin: 0;
  height: auto;
  position: relative;
  left: -10%;
  overflow: auto;
  background-color: white;
  transform: translateY(0px);
  transition: all .5s ease-out;
  animation: logoIn 1s  ease-in-out forwards; 
  
}

@keyframes logoIn{
  from{

  }
  to{
    left: 0%;
  }
}

.me img:hover{

  /*background-color: lightgray;*/
  transform: translateY(-5px);
  -moz-box-shadow: 20px 20px 0px lightgray;
  -webkit-box-shadow: 20px 20px 0px lightgray;
  box-shadow: 10px 10px 10px lightgray;
  

}

/*end of image hover*/


.right-nav{
  float: right;
}

.top_nav{
  /*float: right;*/
  display: inline-block;
  right:0;
  left:0;
  margin-right: 10vw;
  
}
.top_nav li{



  position: relative;
  display: inline-block;
  font-weight: bold;
  

  margin-right: 5vw;


}



.top_nav a{
  position: relative;
  font-family: 'Raleway', sans-serif;
  right: 10%;
  display: inline-block;
  font-size: 0.6rem;
  

}
.top_nav a::before {
  content: '';
  display: inline-block;
  height: 5px;
  background-color: lightgray;

  position: absolute;

  top: 1.5vh;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.top_nav a:hover::before {
  width: 100%;
}



.container {
  position: absolute;
  top: 20%;
  right: 2%;
  float: right;
  display: none;

}

.bar1, .bar2  {
  width: 35px;
  height: 5px;
  background-color: #333;

  margin-bottom: 6px;
  transition: 0.4s;
}
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;

  
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.header__menu--extra{

  position: absolute;
  float: right;
  padding-top: 1%;
  top: 0;
  right: 2%;
  display: inline-block;
  margin-top: 1em;
}

.header .header__col {
  display: inline-block;
  vertical-align: top;
}

.btn--main{
  margin-bottom: 60px;
}

#basket-preview{
  margin-bottom: 30px;
  display: inline-block;
}

.js_open .global-nav-list a{
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  
}



}



/*big navigation*/

.global_nav{


  width: 100%;
  height: 150vh;  
  position: absolute;
  top: 0;
  left: 0%;
  align-items: center;
  -webkit-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;


}


.global-nav-list a::before {
  content: '';
  display: inline-block;
  height:5px;
  background-color: #C49E7B;
  position: absolute;
  top: 85%;
  width: 0%;
  transition: all ease-in-out .5s;
}

.global-nav-list a:hover::before {
  width: 100%;


}

.global-nav-list {

  position: fixed;
  margin: 0 auto;
  padding: 0;
  top:25%;
  width: 80%;
  right: 0;
  left: 0%;
  text-align: center;

}



ul {
  list-style: none;

}

.global-nav-list li {
  margin-top: 1rem;
  position: relative;
  

  
}


.global-nav-list a {

  display: inline-block;
  color: lightgray;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  /*cursor: pointer;*/

}


.global-nav-list a:hover{
  color:black;
  transition: color .5s ease-in-out;
}


#cursor{
  position: absolute;
  display: none;
  z-index: 100;
  

}

#cursor img{

  width: 400px;
  z-index: 100;

}






