

/*ball creationg */
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: .5;
  z-index: -100;
}



  body {
    font-family: 'Raleway', sans-serif;

  }

  a{
    color:black;
  }


  .a1{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
  }

  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top: solid 1px #ccc;
    display: block;
    position: relative;
  }


  p {
    margin-top: 0;
  }

  nav a:hover, nav a:focus {
    text-decoration: none;
  }

  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
  }


/* 
  INTERACTIVE ELEMENTS -------------------
  */


  /* Styling for the navigation button */
  .button-nav{
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   display: block;
   margin-top: 20px;
   width: 50%;
   height: 50px;
   align-items: center;
   text-align: center;
   font-size: 1rem;
   font-family: 'Raleway', sans-serif;
   font-size: 0.7rem;
   color: black;
   background: #DAC9A6;
   border: none;
   text-decoration: none;
   border-radius: 0;
   transition: all .5s ease-in-out;
 }

 .button-nav:hover{

   color: lightgray;
   opacity: 0.6;
   color:black;
 }

 .image-container{
  display: inline-block;
  width:50vw;

  overflow: hidden;
  overflow-y: hidden;

}
.image1{
  width: 50vw;
  opacity: 0.8;

}

.image1:hover, focus{
  width: 60vw;
  transition: 0.5s;
  opacity: 1;
}

/* 
  TEXT ELEMENTS -------------------
  */




/* 
  COMBINED ELEMENTS -------------------
  */
  input {
    -webkit-appearance: textfield;

    cursor: text;
    padding: 1px;
    border: #808080 1px solid;
  }

  /*nav*/
  .element-nav{
    display: inline-block;
    width: 100vw;
  }


  .nav-container2{
    position:relative;
    width:95%;

    margin:0 auto;
    top:4%;
    right: 0;
    left: 0;
    z-index: 90;
  }
  .me2 img{
    display: inline-block;
    max-width: 5vw;
    margin: 0;
    height: auto;

  }



  .top_nav2{
    float: right;
    display: inline-block;
    right:0;
    left:0;
    
  }
  .top_nav2 li{

    font-family: 'Raleway', sans-serif;

    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 0.5rem;
    margin-right: 5vw;


  }

  input:hover{
    background: lightgray;
  }



  /*product card*/

  .product-card{
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 10px;
  }


  .product-image-wrapper {
    width: 100%;
    border: solid 3px #f0f0f0;
    position: relative;
    transition: opacity .2s ease;
    background-size: cover;
    background-position: center center;
    overflow: hidden;


  }

  #product1 img{
   transition: all .5s ease;
 }


 span.tag.tag-new {
  background: #17c772;



}
span.tag {
 position: absolute;
 top: 0;
 left: 0;
 font-size: 10px;
 font-family: 'Raleway', sans-serif;
 padding: 0 3px;
 color: #fff;
 background: #222;
 z-index: 1;
 text-decoration: none;



}
p.roduct-card-brand {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity .2s ease;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}


p.product-card-name {
  margin-bottom: 12px;
  transition: opacity .2s ease;
  text-decoration: none;

}

.product-details-wrapper p.product-card-brand {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  transition: opacity .2s ease;
  font-weight: 700;
}
p.product-price {

  top: 0;
  opacity: 0;
  transition: opacity .2s ease;
  font-family: 'Raleway', sans-serif;}




  .color-pattern1-1{
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 8vh;
    margin-right: 15px;
    background: #F0F3F6;
  }
  .color-pattern1-1 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
  }
  .color-pattern1-2{
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 8vh;
    background: #FF9800;
  }
  .color-pattern1-2 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
  }
  .ad1{
    width: 100%;


  }
  .ad1 img{
    width: 100%;


  }


  .color-pattern2-1{
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 8vh;
    margin-right: 15px;
    background: #F0F3F6;
  }

  .color-pattern2-1 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }
  .color-pattern2-2{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: #C49E7B;
  }
  .color-pattern2-2 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }

  .color-pattern2-3{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: #97918E;
  }
  .color-pattern2-3 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: 15%;
    float: left;
    font-size: 0.5em;
     opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }
  .color-pattern2-4{
    position: relative;
    display: inline-block;
    width: 10vw;
    margin-right: 15px;
    height: 8vh;
    background: #000000;

  }

  .color-pattern2-4 p{

    position: absolute;
    right: 5%;
    margin-bottom: 0;
    bottom: -20%;
    float: left;
    color: #fff;
    font-size: 0.5em;
    opacity: 0;
    animation: col-slide 1s ease-in-out forwards;
  }

 @keyframes col-slide{

    from{
      bottom: -20%;
      opacity: 0;
    }

    to{
      bottom: 15%;
      opacity: 1;
    }

 }

 .color-pattern2-4:hover{
  cursor: pointer;
  
 }






  /*checkout cart 1 */

  .bag-total{
    display: inline-block;
    position: relative;
    width: 100%;
  }


  /*cart it self*/
  table.bag-items {

    font-family: 'Raleway', sans-serif;
    width: 100%;
    vertical-align: top;
    text-align: left;
    margin-bottom: 50px;


  }

  table.bag-items td {
    text-align: left;
    vertical-align: top;
    font-size: 0.7rem;
    padding: 10px; 
    /*  border: 5px solid black;*/

  }

  table.bag-items tbody td:last-child {
    text-align: right;
  }

  .bag-items thead tr {
    border: none;
  }

  .bag-items tr {
    border-top: solid 1px #f0f0f0;
  }

  .bag-items tr:nth-child(even) {
    background: #fff;
  }


  .bag-items .quantity-input {
    display: inline-block;
    border: solid 1px #f0f0f0;
  }
  .quantity-input a {
    font-family: monospace;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
  }


  .quantity-input input[type="text"] {
    background: 0 0;
    border: none;
    text-align: center;
    max-width: 16px;
    margin: 0;
    padding: 0;
  }

  .quantity-number{
    border: none;

    display: inline-block;
    height: 40px;
  }




  .bag-product-name a {
    text-decoration: none;

  }

  .no-touch .bag-product-name a:hover {
    color: #666;
  }

  .bag-product-note {
    font-family: "HelveticaNeueW01-55Roma", sans-serif;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }

  .bag-items .bag-item-image {
    max-width: 130px;
    max-height: 130px;
  }



  .bag-items a.remove-icon {
    fill: #ccc;
    position: relative;
    top: 0;
  }





  .cls-2:hover {
    stroke: #515151;
  }




  /*additional element*/

  .bag-additinal{
   border-top: solid 1px #f0f0f0;
   border-left: solid 1px #f0f0f0;
   border-right: solid 1px #f0f0f0;
   text-align: center;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
 }

 .bag-subtotal-wrapper {
  width: 100%;

  bottom: 56px;

  margin-bottom: 30px;


}

.bag-subtotal-wrapper h4{
  font-family: "HelveticaNeueLTStd-BdCn", sans-serif;
  vertical-align: middle;
  align-items: center;
}


span.subtotal {
  font-size: 34px;
  font-family: "HelveticaNeueLTStd-BdCn", sans-serif;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  vertical-align: middle;
  align-items: center;
}
input.button.button-secondary {
  font-family: "HelveticaNeueLTStd-Cn", sans-serif;
  text-transform: uppercase;
  color: #999;
  margin: auto;

  text-align: center;
  border: solid 1px #999;
  background: #fff;
  padding: 10px 10px;
  transition: 0.4s;
}

input.button.button-secondary:hover {
  background: lightgray;
  color: #fff;
}

.button, a.button, button.button, input.button {
  display: inline-block;
  padding: 9px 31px;
  transition: all .2s ease;
}

.button-check-out{
  display: inline-block;
  width: 100%;
  height: 60px;
  font-family: "HelveticaNeueLTStd-BdCn", sans-serif;
  font-size: 0.7rem;

  text-transform: uppercase;
  color: black;
  background: #DAC9A6;
  border: none;
  text-decoration: none;
  border-radius: 0;
  transition: all .4s ease;
}


.button-check-out:hover { 
 /*background: #7e7e7e;*/
 opacity: 0.6;
}


/*form*/

.section--shipping-address{
  display: inline-block;
  width: 80%;
}
.field__input {
  padding-top: 1.5em;
  padding-bottom: 0.35714em;
  background-color: white;
  color: #333333;
  border-color: #d9d9d9;

  background-clip: padding-box;
  
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.92857em 0.78571em;
  word-break: normal;
}
.field {
  width: 100%;
  float: left;
  padding: 0.42857em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field--half {
  display: inline-block;

  width: 50%;

}

.field__input-wrapper{
  display: block;
  position: relative;
  width: 100%;
}
.field--two-thirds{
  display: inline-block;

}
.field--three-eights{
  width: 30%;
}



.number-list li{
  font-family: 'Raleway', sans-serif;
}




/*side nav*/
#side-nav{
  position: relative;
  top: 10vh;
  left: 2%;
  display: inline-block;
  width: 35vw;
  text-align: left;
}

#side-nav a{
  text-decoration: none;
  display: inline-block;
  color: lightgray;
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  margin:20px 20px;
  cursor: pointer;
}

#side-nav a:hover{
 color:black;
 transition: color .5s ease-in-out;
}


.side-ul{
  margin: 0;
  padding: 0;
  position: relative;
}
.side-ul li{
  display: inline-block;
  position: relative;
}
.side-ul li::before {
  content: '';
  display: inline-block;
  height: 4px;
  background-color: #C49E7B;
  opacity: .5;
  position: absolute;
  top: 65%;
  width: 0%;
  transition: all ease-in-out 250ms;
}


.side-ul li:hover::before {
  width: 100%;

}

#interactive_elements{
  display: inline-block;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;

}

#interactive_elements h1{
 display: block;
 font-size: 4rem;
 font-family: 'Raleway', sans-serif;
 border-left: solid 3px #000;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;



}


.intext-link{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  position: relative;
  display: inline-block;
}


.intext-link::before {
  content: '';
  display: inline-block;
  height: 3px;
  background-color: #33473F;

  position: absolute;
  top: 25%;
  width: 0%;

  transition: all ease-in-out 250ms;
}
.intext-link:hover::before {
  width: 100%;
}

.navigation-link{
  display: inline-block;
  width: 100%;
}

.nav-container3{

 width:100%;

 margin:0 auto;
 
 right: 0;
 left: 0;
 z-index: 90;
}

.top_nav3{

  display: inline-block;
  right:0;
  left:0;

}
.top_nav3 li{

  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-right: 5vw;
}


.top_nav3 li::before {
  content: '';
  display: inline-block;
  height: 15px;
  background-color: #C49E7B;
  opacity: .5;
  position: absolute;
  top: 15%;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.top_nav3 li:hover::before {
  width: 100%;
}



.filed1{
 width: 100%;
 float: left;
 padding: 0.42857em;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}



/*radio*/
.radio li{
  margin: 10px 0;
}
input[type=radio] {
  border: 1px solid #DAC9A6;;
  padding: 0.5em;
  -webkit-appearance: none;
}
input[type=radio]:hover {
  background-color: lightgray;
}

input[type=radio]:checked {
  background-color: #DAC9A6;;
  background-size: 9px 9px;
}

input[type=radio]:focus {
  outline-color: transparent;
}



#text_elements{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;

}


#text_elements h1{
 display: block;
 font-size: 4rem;
 font-family: "HelveticaNeueLTStd-ltd" sans-serif;
 border-left: solid 3px #000;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
}
#text_elements p{
 display: inline-block;
}



#combined_elements{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;
}

#combined_elements h1{
 display: block;
 font-size: 4rem;
 font-family: 'Raleway', sans-serif; border-left: solid 3px #000;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
}



#citations{
  display: none;
}

.ciation-list{
  width: 100%;
  margin: 0;
}
.ciation-list li{

  margin: 10px;
}
#idea2{
  display: none;
  position: absolute;
  width: 50%;
  left: 40%;
  right: 8%;
  top:15vh;
}


#idea2 h1{
 display: block;
 font-size: 4rem;
 font-family: 'Raleway', sans-serif; border-left: solid 3px #000;
 align-items: center;
 padding-left: 10px;
 padding-left: 1vw;
 font-size: 3rem;
}

input:focus{
  background-color: lightgray;
  opacity: .3;
}
